fastapi
uvicorn[standard]
cryptography
pydantic
aiohttp
requests
pillow
python-multipart
jinja2
websockets
aiofiles
python-dotenv
starlette
bcrypt
sqlalchemy
httpx
docker
pyotp
aiosqlite
psutil
litellm
alembic
firebase_admin
smolagents
numpy
trafilatura
pynvml
